$Comfortaa: "Comforta";
.btn1 {
  box-shadow: 0px 10px 14px -7px #7609d8;
  background: linear-gradient(to bottom, #7609d8 5%, #7609d8 100%);
  background-color: #7609d8;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-family: $Comfortaa;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #7609d8;
}

.btn2 {
  box-shadow: 0px 10px 14px -7px #09d851;
  background: linear-gradient(to bottom, #09d840 5%, #13ef30 100%);
  background-color: #2cd809;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-family: $Comfortaa;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #55ff99;
}

.radiobuttonGender {
  margin: 1em 0;
  display: flex;
  margin-left: -80%;
}

.radiobuttonGender input {
  display: none;
  cursor: pointer;
}

.GenderLabel {
  border: 1px solid rgba(0, 0, 0, 0.384);
  padding: 10px 5px;
  border-radius: 10px;
  margin: 0 1em;
}

.GenderLabel:hover {
  outline: #010244;
  border: 1px solid #010244;
  cursor: pointer;
}

.GenderLabel.selected {
  background-color: blueviolet;
  color: white;
  transform: scale(0.9);
  transition: ease-in-out;
}
.errorBox {
  color: red;
}

.TutorBasicDetailForm {
  width: 60%;
  margin: auto;
  height: 100%;
  font-size: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 0.3fr);
  grid-gap: 0 30px;
}
.msf-form h1 {
  margin-left: 10%;
}
.tbd-input-groups {
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 10px;
}
.tbd-input-groups input {
  font-size: 1rem;
  font-weight: 500;
  border-radius: 8px;
  padding: 10px 10px;
  margin-top: 5px;
  border: 2px solid rgba(0, 0, 0, 0.148);
  width: 100%;
}
.tbd-input-groups input:focus {
  outline-color: rgb(96, 90, 255);
  background-color: rgb(232, 240, 254);
}
.tbd-input-groups input::placeholder {
  color: rgba(0, 0, 0, 0.434);
}
.tbd-fname{
    grid-column: 1/2;
    grid-row: 1/1;
    
}

.tbd-lname{
    grid-column: 2/4;
    grid-row: 1/2;
    margin-left:10px;
}
.tbd-mobno{
    grid-column: 1/4;
    grid-row: 2/2;
  
}
.tdb-phoneVerify-inputGrid{
    display: grid;
    grid-template-columns:repeat(5,1fr);
    gap: 0 30px;

}
.tdb-phoneVerify-inputGrid > input {
  grid-column: 1/5;
}
.tdb-phoneVerify-inputGrid>button{
    grid-column: 5/6;
    margin-right: -20%;
}
.tbd-whtsno{
    grid-column: 1/4;
    grid-row: 3/3;
}
.tbd-gender{
    // grid-column: 1/4;
    // grid-row: 4/4;
    
}
.tbd-gender .radiobuttonGender{
    display: flex;
    flex-wrap: wrap;
    gap:30px 10px;
}
.tbd-gender > div {
  margin-left: -1em;
}
.tbd-agegrp{
    grid-column: 1/4;
    grid-row: 5/5;
    font-size:0.9rem;
    font-weight:500;
    margin-top:10px;
}
.tbd-agegrp > select,
.tbd-agegrp > option {
  font-size: 1rem;
  font-weight: 500;
  border-radius: 8px;
  padding: 10px 10px;
  margin-top: 5px;
  border: 2px solid rgba(0, 0, 0, 0.148);
  color: rgba(0, 0, 0, 0.434);
  width: calc(100% + 25px);
}
.tbd-agegrp > select:focus option {
  color: black;
}


.tbd-referal{
    grid-column: 1/4;
    grid-row: 6/6;
    
}
.tbd-referal p {
  margin: 10px 0px;
  margin-top: 5px;
}
.JoinUsButton {
    grid-column: 1/3;
    grid-row: 7/7;
    margin: 0.8em 0;
    text-align: start;
}
@media only screen and (max-width:1100px){
    .msf-form h1{
        margin-left: 0%;
        }
        .tbd-input-groups input{
            max-width: 96%;
        }
        .tbd-agegrp>select{
            max-width: 99%;
        }
}
@media only screen and (max-width: 650px) {
  .msf-form h1 {
    margin-left: 0%;
  }
  .tbd-agegrp > select {
    max-width: 103%;
  }
  .tbd-fname {
    grid-column: 1/4;
    grid-row: 1/1;
  }
  .tbd-lname {
    grid-column: 1/4;
    grid-row: 2/2;
    margin-left: 0;
  }
  .tbd-mobno {
    grid-column: 1/4;
    grid-row: 3/3;
    display: grid;
  }
  .tbd-mobno .btn1 {
    margin-left: 0 !important;
    margin-top: 5px !important ;
  }
  .tbd-whtsno {
    grid-column: 1/4;
    grid-row: 4/4;
  }
  .tbd-gender {
    grid-column: 1/4;
    grid-row: 5/6;
  }
  .tbd-agegrp {
    grid-column: 1/4;
    grid-row: 6/6;
  }
  .tbd-referal {
    grid-column: 1/4;
    grid-row: 7/7;
  }
  .JoinUsButton {
    grid-column: 1/3;
    grid-row: 8/8;

    text-align: start;
  }
  .btn1 {
    font-size: 0.8rem;
  }
}

input[type="radio"]:checked + label {
  background: hsla(150, 75%, 50%, 1);
  color: hsla(215, 0%, 100%, 1);
  box-shadow: 0px 0px 20px hsla(150, 100%, 50%, 0.75);
  &::after {
    color: hsla(215, 5%, 25%, 1);
    font-family: FontAwesome;
    border: 2px solid hsla(150, 75%, 45%, 1);
    content: "\f00c";
    font-size: 24px;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background: white;
    box-shadow: 0px 2px 5px -2px hsla(0, 0%, 0%, 0.25);
  }
}
.file-upload-section {
  width: 100%;
  height: 10rem;
  border: 2px dashed rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;

  input[type="file"] {
    display: none;
  }
}

.file-upload-wrapper {
  display: flex;
  width: 100%;
  height: 10rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.1rem;
  color: #919191;
  font-weight: 400;

  .file-upload-btn {
    background-color: #a8b2fb;
    padding: 0.6rem 0.8rem;
    border-radius: 1.5rem;
    font-size: 0.8rem;
    border: none;
    color: #ffffff;
    cursor: pointer;
  }
}
.sidebar {
  width: 100%;
  height: 100vh;
  .sidebar-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #6764ff;
      opacity: 0.5;
      z-index: 1;
    }
    img {
      z-index: 0;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .arrow-logo-wrapper {
      position: relative;
      z-index: 2;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      .arrow-icon {
        width: 2.4rem;
        height: 2.4rem;
        fill: #ffffff;
        cursor: pointer;
      }
      .rablo-logo {
        img {
          position: relative;
          width: 10rem;
          height: auto;
        }
      }
    }

    .logout-btn {
      position: relative;
      z-index: 2;
      background-color: #ffffff;
      border-radius: 0.4rem;
      font-size: 1.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: fit-content;
      gap: 1rem;
      padding: 0.6rem;
      color: #1d35fb;
      font-weight: 500;
      cursor: pointer;
      .logout-icon {
        height: 1.6rem;
        width: 1.6rem;
      }
    }
  }
}
