.TutorEducationMainContainer {
  width: 100%;
}
.TutorEducationMainContainer .TutorEducationNav {
  width: 100%;
  background-color: #7609d8;
  padding: 2em 5em;
}
.TutorEducationMainContainer .TutorEducationNav .RabloLogo {
  align-self: flex-start;
}
.TutorEducationMainContainer .TutorEducationNav .RabloLogo img {
  width: 150px;
}
.TutorEducationMainContainer .TutorEducationContainer {
  display: flex;
  padding: 3em 0 0 0;
}
.TutorEducationMainContainer .TutorEducationContainer .TutorEducationDoddle {
  flex: 1;
  text-align: center;
  padding: 3em 0;
  justify-content: center;
  align-self: center;
}
.TutorEducationMainContainer .TutorEducationContainer .TutorEducationDoddle img {
  width: 200px;
}
.TutorEducationMainContainer .TutorEducationContainer .TutorEducationFormContainer {
  flex: 2;
  padding: 1em 0 0 3em;
}
.TutorEducationMainContainer .TutorEducationContainer .TutorEducationFormContainer .TutorEducationHeader {
  padding: 1em 0;
}
.TutorEducationMainContainer .TutorEducationContainer .TutorEducationFormContainer .TutorEducationHeader h1 {
  position: static;
  text-align: center !important;
  clear: both;
  letter-spacing: 0ch;
  line-height: 1;
  font-family: "Barlow Condensed";
  font-size: 40px !important;
  font-weight: 600;
  text-transform: uppercase;
  color: #010244;
  margin-bottom: 80px;
  margin-top: -20px;
}
.TutorEducationMainContainer .TutorEducationContainer .TutorEducationFormContainer .TutorEducationHeader p {
  line-height: 2;
  font-weight: 600;
  font-size: 1.1em;
}
.TutorEducationMainContainer .TutorEducationContainer form {
  width: 80%;
}
.TutorEducationMainContainer .TutorEducationContainer form .inputbox {
  margin: 30px 0px;
}
.TutorEducationMainContainer .TutorEducationContainer form .inputbox .TutoJobRoleCheckBox select {
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #f5f3f3;
  border: none;
}
.TutorEducationMainContainer .TutorEducationContainer form .inputbox label {
  font-weight: 500;
  font-size: 15px;
}
.TutorEducationMainContainer .TutorEducationContainer form .Stage1radiobox-hr {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-grow: 1;
}
.TutorEducationMainContainer .TutorEducationContainer form .Stage1radiobox-hr .radiobutton label {
  font-weight: normal;
  font-size: 15px;
  letter-spacing: 0.5px;
  margin-left: 1em;
  width: 150px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  border-radius: 10px;
  cursor: pointer;
}
.TutorEducationMainContainer .TutorEducationContainer form .Stage1radiobox-hr .radiobutton label:hover {
  font-weight: 600;
  background-color: #666;
  color: white;
}
.TutorEducationMainContainer .TutorEducationContainer form .Stage1radiobox-hr .radiobutton input {
  display: none;
}
.TutorEducationMainContainer .TutorEducationContainer form .hasValidation {
  position: relative;
  width: max-content;
}
.TutorEducationMainContainer .TutorEducationContainer form .hasValidation::before, .TutorEducationMainContainer .TutorEducationContainer form .hasValidation::after {
  position: absolute;
  z-index: 1;
  margin-left: 16px;
  background-color: coral;
}
.TutorEducationMainContainer .TutorEducationContainer form .hasValidation::after {
  width: max-content;
  border-radius: 8px;
  content: attr(data-content);
  padding: 4px;
  left: 100%;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  top: -30%;
}
.TutorEducationMainContainer .TutorEducationContainer form .hasError {
  border: 1px solid red;
}
.TutorEducationMainContainer .TutorEducationContainer form .StudentRequirement .inputbox {
  margin-top: 20px;
}
.TutorEducationMainContainer .TutorEducationContainer form .StudentRequirement #extraSkills input {
  margin-top: 20px;
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #f5f3f3;
}
.TutorEducationMainContainer .TutorEducationContainer form .JoinUsButton {
  margin: 2em 0;
  justify-content: flex-start;
  display: flex;
}
.TutorEducationMainContainer .TutorEducationContainer form .JoinUsButton .btn1 {
  box-shadow: 0px 10px 14px -7px #7609d8;
  background: linear-gradient(to bottom, #7609d8 5%, #7609d8 100%);
  background-color: #7609d8;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-family: "Comfortaa", Sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #7609d8;
}

@media (max-width: 900px) {
  .TutorEducationContainer {
    flex-direction: column;
  }
}/*# sourceMappingURL=TutorEducation.css.map */