.type-class-container {
  margin-top: 90px;
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.type-class-container .text {
  margin-bottom: 10px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.type-class-container .text p {
  font-size: 14px;
  font-family: "Poppins", Sans-serif;
  font-weight: 520;
  letter-spacing: 0.3px;
  text-align: center;
  color: #888888;
}
.type-class-container .text .heading {
  font-size: 25px;
  color: #54595f;
  font-family: "Comfortaa", Sans-serif;
  font-weight: 400;
  margin-top: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

hr.horizontal-line {
  width: 70%;
  margin: 0 auto;
  
  background-color: #cccccc;
  height: 0.5px;
  border: none;
}
.boxesType3Inner{
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin: 10px 10px;
}
.boxesType3Inner:hover{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
@media screen and (max-width: 740px){
  
}