@import './Global.scss';
.pricingContainer{
    width: 98.7239vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, #5F7BFF,#A5B4FF);

    
    

    .pricingWrapper{
        width: 85vw;
        background-color: white;
        text-align: center;
        border-radius: .7rem;
        padding: 2rem 2.5rem;
        padding-bottom: 1rem;

        @include mobile{
            width: 95vw;
            padding: 2rem .2rem;
        }
        margin: 20px 0px;
        
    }

    
}