@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}
#app{
  height:100vh;
  width: 100%;
  font-family: 'Poppins';
}
/* /* .container {
  font-size: 3rem;
  margin: auto;
  max-width: 800px;
  margin-top: 20px;
} */
