@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.tutorVerification
{
    font-family: poppins;
    display: flex;
    height: 100vh;
    position: relative;
    gap:20px;
    margin: auto;
}
.tutorVerification label
{
font-weight:500;
}
.tutorVerification__progressbar
{
    height: 5px;
    flex:1;
    margin-right:10px;
    background-color: #b4b4b443;
    position: relative;
}
.tutorVerification__progress
{
    position: absolute;
    height: 5px;
    background-color: #7609d8;
    position: relative;
    transition: all 0.5s linear;
}
.tutorVerification__form__wrapper
{
    flex:1;
    width: 50vw;
    position: relative;
    display: flex;
    flex-direction: column;
    gap:10px;
    
}
.tutorVerification__form::-webkit-scrollbar
{
    width: 5px;
}
.tutorVerification__form::-webkit-scrollbar-track
{
    background: #f1f1f1;
}
.tutorVerification__form::-webkit-scrollbar-thumb 
{
    background: rgba(136, 136, 136, 0.349);
    border-radius: 10px;
}
  
.tutorVerification__formImage
{
    
    height: 100%;
    width:40vw ;
    display: flex ;
    justify-content: center;
    align-items: center;
}
@media(max-width:1000px){
    .tutorVerification__formImage{
        display: none;
    }
    .tutorVerification__form__wrapper
{
    flex:1;
    width: 98vw;
    position: relative;
    display: flex;
    flex-direction: column;
    gap:10px;
    
}
}
.tutorVerification__formImage img{
    width: 90%;
    margin: auto;
}
.tutorVerification__header
{
    display: flex;
    gap:20px;
    align-items: center;
    position: sticky;
    top:0;
    background-color: #ffffff;
    padding-top: 20px;
    transition: all 2s linear;
    font-weight: 500;
    
}
.tutorVerification__stepHeadings__stepCount
{
    text-align: center;
    font-weight: 700;
    color:rgba(0, 0, 0, 0.358);
}
.tutorVerification__btn__prev
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #7609d8 5%, #7609d8 100%);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-family: $Comfortaa;
    font-size: 1rem;
    font-weight: 600;
    padding: 5px 10px;
    text-decoration: none;
}
.tutorVerification__btn__prev:disabled
{
    background: #7272723c;   
}
.tutorVerification__btn__next
{
    background: linear-gradient(to bottom, #7609d8 5%, #7609d8 100%);
    border-radius:0 0 5px 5px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-family: $Comfortaa;
    font-size: 1.1rem;
    font-weight: 300;
    padding: 15px 10px;
    text-decoration: none;
    width: 100%;
    bottom: 0;
    
  
    
}
.tutorVerification__stepHeadings{
    margin: 10px 0;
    font-size: 1.3rem;
    font-weight: 500;
    
}
.sameAddressInput__wrapper{
    display: flex;
    align-items: center;
    flex-direction: row !important;
}


.tutorVerification__btn{
    margin-top:10px;
    box-shadow: 0px 10px 14px -7px #7609d8;
    background: linear-gradient(to bottom, #7609d8 5%, #7609d8 100%);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-family: $Comfortaa;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #7609d8;
}
.tutorVerification__btn:disabled{
    text-shadow:none;
    background: #7272723c;
    box-shadow: none;

}
.tutor__basicDetails__nameWrapper{
    display: flex;
    gap:10px;
}
.tutor__basicDetails__nameWrapper>*{
    flex:1;
}
.input__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    
}
.input__wrapper >label {
    flex:1;
    font-size:0.9rem;
    font-weight:500;
    margin-top:10px;
}
.input__wrapper>input,.input__wrapper>select,.rmdp-input{
    flex:1;
    font-size:1rem;
    font-weight:500;
    border-radius: 8px;
    padding: 10px 10px;
    margin-top: 5px;
    border: 2px solid rgba(0, 0, 0, 0.148);
    
}
.input__wrapper>input:focus{
    outline-color: rgb(96, 90, 255);
    background-color: rgb(232, 240, 254) ;
}
.input__wrapper>input::placeholder{
    color:rgba(0, 0, 0, 0.434);   
}
.input__wrapper>span{
    margin:10px 0 5px 0;
}
.tutor__basicDetails__genderWrapper{
    display: flex;
    gap:50px;
    
}
.basicDetails_input__wrapper{
    display: flex;
    gap:10px;
}

.basicDetails__genderWrapper {
    margin-top: 10px;
}
.basicDetails__genderWrapper input  {
    display: none;
}
.basicDetails__genderWrapper:has(>input:checked) label {
    background-color: blueviolet;
    color: white;
    transform: scale(0.9);
    transition: ease-in-out;
}
.basicDetails__genderWrapper  label {
    border: 1px solid rgba(0, 0, 0, 0.384);
    padding: 10px 5px;
    border-radius: 10px;
    cursor: pointer;

}
.basicDetails__genderWrapper  label:hover  {
    outline: #010244;
    border: 1px solid #010244;
    cursor: pointer;

}
input[type="date"]{
    position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    position: absolute;
    top:0;
    left: 0;
    opacity: 0;
    visibility: visible;
    width: 100%;
    height: 100%;
}
.classMode__container{
    display: flex;
    gap:50px;
}
.classModeWrapper{
 margin: 10px 0;
}
.classModeWrapper input  {
    display: none;
}
.classModeWrapper:has(>input:checked) label {
    background-color: blueviolet;
    color: white;
    transform: scale(0.9);
    transition: ease-in-out;
}
.classModeWrapper  label {
    border: 1px solid rgba(0, 0, 0, 0.384);
    padding: 10px 5px;
    border-radius: 10px;
    cursor: pointer;

}
.classModeWrapper  label:hover  {
    outline: #010244;
    border: 1px solid #010244;
    cursor: pointer;

}
.addressProof__upload{
    display: flex;
    align-items: center ;
    font-size:1rem;
    font-weight:500;
    border-radius: 8px;
    padding: 10px 10px;
    margin-top: 5px;
    border: 2px solid rgba(0, 0, 0, 0.148);
}
#upload,#uploadExtra{
    display: none;
}
input[type=checkbox]
{
    width: 15px;
    height: 15px
}