.TutorEducationMainContainer {
  width: 70%;
}
.TutorEducationMainContainer .TutorEducationNav {
  width: 100%;
  background-color: #7609d8;
  padding: 2em 5em;
}
.TutorEducationMainContainer .TutorEducationNav .RabloLogo {
  align-self: flex-start;
}
.TutorEducationMainContainer .TutorEducationNav .RabloLogo img {
  width: 150px;
}
.TutorEducationMainContainer .TutorEducationContainer {
  display: flex;
  padding: 3em 0 0 0;
}
.TutorEducationMainContainer .TutorEducationContainer .TutorEducationDoddle {
  flex: 1;
  text-align: center;
  padding: 3em 0;
  justify-content: center;
  align-self: center;
}
.TutorEducationMainContainer .TutorEducationContainer .TutorEducationDoddle img {
  width: 200px;
}
.TutorEducationMainContainer .TutorEducationContainer .TutorEducationFormContainer {
  flex: 2;
  padding: 1em 0 0 3em;
}
.TutorEducationMainContainer .TutorEducationContainer .TutorEducationFormContainer .TutorEducationHeader {
  padding: 1em 0;
}
.TutorEducationMainContainer .TutorEducationContainer .TutorEducationFormContainer .TutorEducationHeader h1 {
  position: static;
  text-align: left !important;
  clear: both;
  letter-spacing: 0ch;
  line-height: 1;
  font-family: "Barlow Condensed";
  font-size: 40px !important;
  font-weight: 600;
  text-transform: uppercase;
  color: #010244;
  font-style: italic;
}
.TutorEducationMainContainer .TutorEducationContainer .TutorEducationFormContainer .TutorEducationHeader p {
  line-height: 2;
  font-weight: 600;
  font-size: 1.1em;
}
.TutorEducationMainContainer .TutorEducationContainer form {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}
.TutorEducationMainContainer .TutorEducationContainer form .inputbox .TutoJobRoleCheckBox {
  width: 100%;
}
.TutorEducationMainContainer .TutorEducationContainer form .inputbox .TutoJobRoleCheckBox select {
  width: 100%;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid;
}
.TutorEducationMainContainer .TutorEducationContainer form .inputbox .uploadMarksheet {
  font-family: "poppins";
  border: 2px dashed rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  border-radius: 12px;
  border-spacing: 15px;
}
.TutorEducationMainContainer .TutorEducationContainer form .inputbox .uploadMarksheet .marksheetText {
  padding: 5px 10px;
  background-color: #A8B2FB;
  border-radius: 22px;
  color: white;
  cursor: pointer;
}
.TutorEducationMainContainer .TutorEducationContainer form .radiobutton label {
  font-weight: normal;
  margin-left: 1em;
}
.TutorEducationMainContainer .TutorEducationContainer form .hasValidation {
  position: relative;
  width: max-content;
}
.TutorEducationMainContainer .TutorEducationContainer form .hasValidation::before, .TutorEducationMainContainer .TutorEducationContainer form .hasValidation::after {
  position: absolute;
  z-index: 1;
  margin-left: 16px;
  background-color: coral;
}
.TutorEducationMainContainer .TutorEducationContainer form .hasValidation::after {
  width: max-content;
  border-radius: 8px;
  content: attr(data-content);
  padding: 4px;
  left: 100%;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  top: -30%;
}
.TutorEducationMainContainer .TutorEducationContainer form .hasError {
  border: 1px solid red;
}
.TutorEducationMainContainer .TutorEducationContainer form .StudentRequirement {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 50px;
}
.TutorEducationMainContainer .TutorEducationContainer form .StudentRequirement input {
  border: 1px solid;
}
.TutorEducationMainContainer .TutorEducationContainer form .StudentRequirement #extraSkills input {
  margin-top: 20px;
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid;
}
.TutorEducationMainContainer .TutorEducationContainer form .Stage1radiobox-hr {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0px;
  flex-wrap: wrap;
}
.TutorEducationMainContainer .TutorEducationContainer form .Stage1radiobox-hr input {
  border: 1px solid;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 0px;
  font-size: 17px;
}
.TutorEducationMainContainer .TutorEducationContainer form .Stage1radiobox-hr .radiobutton #yes {
  display: none;
}
.TutorEducationMainContainer .TutorEducationContainer form .Stage1radiobox-hr .radiobutton #no {
  display: none;
}
.TutorEducationMainContainer .TutorEducationContainer form .Stage1radiobox-hr .radiobutton .yesLabel {
  padding: 10px 30px;
  border-radius: 22px;
  border: 1px solid;
  color: #363F85;
  cursor: pointer;
}
.TutorEducationMainContainer .TutorEducationContainer form .Stage1radiobox-hr .radiobutton .noLabel {
  border: 1px solid;
  color: #363F85;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 22px;
}
.TutorEducationMainContainer .TutorEducationContainer form .JoinUsButton {
  width: 100%;
  justify-content: flex-end;
  display: flex;
}
.TutorEducationMainContainer .TutorEducationContainer form .JoinUsButton .btn1 {
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-family: "Comfortaa", Sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  background: #6764FF;
  border-radius: 10px;
}

@media (max-width: 900px) {
  .TutorEducationContainer {
    flex-direction: column;
  }
}/*# sourceMappingURL=TutorEducation.css.map */