.moblieOTPBackground {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moblieOTPContainer {
    width: 35rem;
    height: 35rem;
    border-radius: 0.75rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 0.938rem 1.25rem 0.939rem 2.5rem;

    .moblieOTPicon {
        display: flex;
        justify-content: center;
        align-items: center;

        #moblieOTPphone-icon {
            margin-top: 70px;
        }

    }

    .moblieOTPtitle {
        display: inline-block;
        color: #6764FF;
        text-align: center;
        font-family: Poppins;
        font-style: normal;
        line-height: normal;
    }

    .moblieOTPOTP-fill {
        display: flex;
        justify-content: center;
        align-items: center;


        input {
            width: 4rem;
            height: 3.5rem;
            border-radius: 0.5rem;
            background-color: white;
            text-align: center;
            font-size: 20px;
            display: flex;
            border: 1px solid #6764FF;
            margin: 10px;
            color: black;

        }

    }


}

.moblieOTPbtns {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;

    .moblieOTPVerifyBtn {
        border-radius: 8px;
        border: 1px solid #6764FF;
        background: rgba(103, 100, 255, 0.80);
        width: 170px;
        height: 50px;
        color: white;
        font-weight: bolder;
        font-size: 17px;
        margin: 10px;
    }

    .moblieOTPButton {
        color: #6764FF;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 200%;
        border: none;
        text-decoration-line: underline;
        background-color: white;
    }

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.svg {
    display: flex;
    width: 171px;
    height: 153px;
    justify-content: center;

    // .Otp {
    //     position: relative;
    //     color: #6764FF;
    //     left: 45px;
    //     top: 20px;
    // }

}

.moblieOTPcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;

    .otp-field {
        margin-top: 15px;
        font-size: 1rem;
        width: 76px;
        height: 55px;
        margin-left: 8px;
        border-radius: 4px;
        border: solid black 1px;
        text-align: center;
        text-size-adjust: 1rem;
        border: 1px solid #6764FF;
    }

    input{
        outline: none;
        border:1px solid #6764FF ;
    }

    // input {
    //     width: 4rem;
    //     height: 3.5rem;
    //     border-radius: 0.5rem;
    //     background-color: white;
    //     text-align: center;
    //     font-size: 20px;
    //     display: flex;
    //     border: 1px solid #6764FF;
    //     margin: 10px;
    //     color: black;
    // }
}