.logoutBackground {
  width: 100vw;
  // height: 50vh;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoutContainer {
  width: 37.5rem;
  // height: 18.75rem;
  border-radius: 0.75rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 0.938rem 1.25rem 0.939rem 2.5rem;

  .logouttitle {
    display: inline-block;
    text-align: center;

    // margin-top: 10px;
    .logouticon {
      background-color: rgba(103, 100, 255, 0.60);
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      display: inline-block;
      padding: 0.375rem;
      margin: 2.5rem;
    }
  }

  .logoutbody {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.065rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.40)
  }

  .logoutfooter {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem
  }
}

.logouttitleCloseBtn {
  display: flex;
  justify-content: flex-end;

  button {
    background-color: transparent;
    border: none;
    font-size: 1.563rem;
    cursor: pointer;
  }

  .logoutfooter button {
    margin: 0.625rem;
    font-size: 1.25rem;
    cursor: pointer;
  }
}

#cancelBtn {
  color: #6764FF;
  border-radius: 32.421px;
  background-color: white;
  border:3px solid #6764FF;
  font-size: 0.813rem;
  margin: 0.625rem;
  width: 4.875rem;
  height: 1.625rem;
}

#leaveBtn {
  border-radius: 32.421px;
  margin: 0.625rem;
  background: rgb(103, 100, 255);
  font-size: 0.813rem;
  width: 5rem;
  height: 1.75rem;
  color: white;
  border: none;
}