.postneeded_container {
  margin-top: 2rem;
  height: 100%;
  width: 90%;
  th {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16.4135px;
    line-height: 92%;
    color: #000000;
  }
  .accepted-appliedtab {
    color: #10cb00;
  }
  .max-lim-appTab {
    color: #de4827;
  }
  .pending-appliedTab {
    color: #ff9e45;
  }
}
