.footerWithWavesContainer {
  width: 100vw;
}
.footerWithWavesContainer .wavesContainer {
  position: relative;
}
.footerWithWavesContainer .wavesContainer .custom-shape-divider-bottom-1676137322 {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.footerWithWavesContainer .wavesContainer .custom-shape-divider-bottom-1676137322 svg {
  position: relative;
  display: block;
  width: calc(187% + 1.3px);
  height: 75px;
  transform: rotateY(180deg);
}
.footerWithWavesContainer .wavesContainer .custom-shape-divider-bottom-1676137322 .shape-fill {
  fill: #5271ff;
}
.footerWithWavesContainer .footerContainer {
  width: 100%;
  background-color: #5271ff;
  padding: 50px 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Comfortaa", cursive;
  font-weight: 600;
}
.footerWithWavesContainer .footerContainer h4 {
  font-weight: bolder;
}
.footerWithWavesContainer .footerContainer hr {
  background-color: white;
  height: 3px;
}
.footerWithWavesContainer .footerContainer .footerMainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footerWithWavesContainer .footerContainer .footerMainContainer .footerMainUp {
  display: flex;
  margin-top: 50px;
  gap: 40px;
}
.footerWithWavesContainer .footerContainer .footerMainContainer .footerMainUp .rabloIntro {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  padding-right: 10%;
  gap: 20px;
}
.footerWithWavesContainer .footerContainer .footerMainContainer .footerMainUp .rabloIntro img {
  background: transparent;
  max-width: 250px;
  margin-top: 0;
}
.footerWithWavesContainer .footerContainer .footerMainContainer .footerMainUp .product {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}
.footerWithWavesContainer .footerContainer .footerMainContainer .footerMainUp .product .productsContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}
.footerWithWavesContainer .footerContainer .footerMainContainer .footerMainUp .product .productsResponsiveContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footerWithWavesContainer .footerContainer .footerMainContainer .footerMainUp .product .productsResponsiveContainer .img {
  width: 2.3rem;
  height: 2.3rem;
  background-color: #4E6BF2;
  border-radius: 2px;
  color: white;
  padding: 0rem 0.1rem;
  cursor: pointer;
}
.footerWithWavesContainer .footerContainer .footerMainContainer .footerMainUp .product .productsResponsiveContainer .productsResponsiveOptions {
  width: 15.9rem;
  display: flex;
  flex-direction: column;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.26), 0px 6px 6px rgba(0, 0, 0, 0.26);
  gap: 20px;
  padding: 10px;
  border-radius: 12px;
}
.footerWithWavesContainer .footerContainer .footerMainContainer .footerMainUp .product a {
  color: white;
  text-decoration: none;
}
.footerWithWavesContainer .footerContainer .footerMainContainer .footerMainUp .product .forStudentsButton {
  background-color: #4d3699;
  padding: 0px 25px;
  border: 3px solid #4d3699;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  font-family: "poppins";
  font-weight: normal;
  padding: 10px 20px;
  width: 100%;
}
.footerWithWavesContainer .footerContainer .footerMainContainer .footerMainUp .product .forStudentsButton:hover {
  transition: 0.2s;
  background-color: transparent;
  color: #4d3699;
  border: 3px solid #4d3699;
  color: #4d3699;
  font-family: "poppins";
  width: 100%;
  color: #4d3699;
  font-family: "poppins";
  width: 100%;
}
.footerWithWavesContainer .footerContainer .footerMainContainer .footerMainUp .legalAndPolicies {
  display: flex;
  flex-direction: column;
  width: 16rem;
  gap: 20px;
  flex: 1;
}
.footerWithWavesContainer .footerContainer .footerMainContainer .footerMainUp .legalAndPolicies a {
  color: white;
  text-decoration: none;
}
.footerWithWavesContainer .footerContainer .footerMainContainer .footerMainUp .legalAndPolicies .legalAndPoliciesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1s all ease;
}
.footerWithWavesContainer .footerContainer .footerMainContainer .footerMainUp .legalAndPolicies .legalAndPoliciesContainer .img {
  width: 2.3rem;
  height: 2.3rem;
  background-color: #4E6BF2;
  border-radius: 2px;
  color: white;
  padding: 0rem 0.1rem;
  cursor: pointer;
}
.footerWithWavesContainer .footerContainer .footerMainContainer .footerMainUp .legalAndPolicies .legalAndPoliciesContainer .legalAndPoliciesOptions {
  display: flex;
  flex-direction: column;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.26), 0px 6px 6px rgba(0, 0, 0, 0.26);
  gap: 20px;
  border-radius: 12px;
  padding: 10px 15px;
  width: 16rem;
}
.footerWithWavesContainer .footerContainer .footerMainContainer .footerMainDown {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footerWithWavesContainer .footerContainer .footerMainContainer .footerMainDown .copywrite {
  font-size: 13px;
  color: #fff;
}
.footerWithWavesContainer .footerContainer .footerMainContainer .footerMainDown .social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
.footerWithWavesContainer .footerContainer .footerMainContainer .footerMainDown .social .socialIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4E3CA3;
  padding: 0.625rem;
  border-radius: 50%;
  margin: 0rem -0.4rem;
}

@media screen and (max-width: 600px) {
  .footerContainer {
    padding: 0px 0;
    display: flex;
    justify-content: flex-start;
  }
  .footerContainer .footerMainUp {
    flex-direction: column;
    margin-top: 50px;
    justify-content: space-between;
    gap: 10px;
  }
  .footerContainer .footerMainUp .rabloIntro {
    flex: 2;
    font-size: 16px;
    padding-right: 0;
    gap: 10px;
  }
  .footerContainer .footerMainUp .rabloIntro img {
    max-width: 100px;
  }
  .footerContainer .footerMainUp .product {
    display: flex;
    gap: 8px;
  }
  .footerContainer .footerMainUp .legalAndPolicies {
    display: flex;
    gap: 5px;
  }
  .footerContainer .footerMainDown {
    flex-direction: column;
  }
  .footerContainer .footerMainDown .social {
    align-self: flex-end;
  }
  .footerContainer .footerMainDown p {
    font-size: 5px;
  }
}/*# sourceMappingURL=Footer2.css.map */