.StudentDetailsContainer {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 2rem 6rem;
  background: #fafaff;
  font-family: "Poppins", sans-serif;
  overflow-y: scroll;
  gap:2rem;

  h1,
  h2,
  p {
    margin: 0;
  }

  header{
    display:flex;
    gap:0.5rem;
    flex-direction: column;

    p{
      color:rgba(0, 0, 0, 0.4);
    }
  }

  form {
    display: flex;
    gap: 2rem;
    flex-direction: column;

    .FormGroup {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
      width: 100%;
    }
    .FormElement.large  {
      flex-basis: 100%;
    }
    .FormElement {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      flex-basis: calc(50% - 0.5rem);

      .row{
        display: flex;
        width:100%;
        align-items: center;
        justify-content: flex-start;
        gap:1rem;
        p{
          color: #999999;
        }
      }

      input,select {
        height: 45px;
        border-radius: 8px;
        border: 1px solid #d04e62;
        padding: 0.5rem;
        font-family: "Poppins", sans-serif;
        color:black;
      }

      option{
        background-color: white;
        color:black;
      }

      .optionsContainer {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0.5rem;
        flex-wrap: wrap;

        .option {
          padding: 0.5rem 1rem;
          border-radius: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #d8232a;
          gap: 0.5rem;
          background-color: white;
        }
      }
    }
  }

  .FormActionContainer{
    display:flex;
    align-items:center;
    justify-content: space-between;
    color:#D04E62;
    font-size:24px;
    button{
      background: #D04E62;
      display:flex;
      align-items: center;
      justify-content: center;
      color:white;
      font-family: "Poppins",sans-serif;
      padding:0.5rem 1rem;
      border-radius:25px;
      border:0;
      cursor: pointer;
    }

  }
}
