.bbox {
  /* margin-top: 40px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-bottom: 30px;
  padding-top: 90px;
  width: auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.bbox .iconcontainer {
  width: 100px;
  height: 100px;
  font-size: 60px;
  border-radius: 50%;
  color: rgb(61, 61, 150);
  /* border: solid 2px black; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: solid 10px rgb(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: pointer;
}
.bbox:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.bbox .iconcontainer:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 10px solid rgb(144, 78, 191);
  box-shadow: none;
}
.bnbicon {
  color: blue;
}
.bbox .heading {
  color: grey;
  margin: 10px;
  margin-top: 30px;
  font-size: 20px;
}
.bbox p {
  margin-top: 20px;
  margin-left: 10px;
  color: rgb(83, 83, 83);
}
@media screen and (max-width: 900px) {
  .bbox {
    max-width: 800px;
    width: auto;
    width: 100%;
    margin-left: 0px;
  }
  /* #two {
    margin-top: 30px;
  } */
}

/* resizing box div */
@media screen and (max-width: 950px) {
  .bbox {
    /* width: 80%;background-color: rebeccapurple; */
    /* wi */

    width: 85%;
    width: auto;

    margin: 20px 0px;
    /* margin: auto; */
  }
}
@media screen and (max-width: 560px) {
  .bbox {
    width: 100%;
  }
}

@media screen and (max-width: 290px) {
  .bbox {
    padding-left: 7px;
    padding-right: 7px;
  }
}
