.PhoneVerificationContainer {
  height: 100vh;
  width: 100vw;
  background-image: url(./resources/SeaLighthouse-sunset.gif);
  display: flex;
  justify-content: flex-end;
  position: relative;
  // background-color: black;
  img.backgroundGIF {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: auto;
    z-index: -10;
  }
}

.headerImageLogoOTp {
  position: absolute;
  z-index: 100;
  button{
    cursor: pointer;
  }
  .backHeaderImgOtp {
    z-index: 100;
    position: absolute;
    left: 3rem;
    top: 3.5rem;
  }
  .logoHeaderImageOtp {
    z-index: 100;
    position: absolute;
    width: 274px;
    height: 92px;
    left: 154px;
    top: 38px;
  }
}
