.DashboardContainer {
  height: fit-content;
  width: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  padding: 1rem 2rem;

  h2,
  p {
    margin: 0;
  }


  .Header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    p{
        color:#D04E62;
        font-weight:bold;
    }
  }
  .HeaderContainer {
    width: 100%;
    height: 75px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    img {
      height: 75%;
    }

    .ProfileContainer {
      height: 100%;
      display: flex;
      gap: 2rem;
      align-items: center;
      text-transform: uppercase;

      img {
        height: 100%;
        width: auto;
        border-radius: 50%;
      }
    }
  }

  .GreetingContainer {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .banner {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background-color: #d04e62;
      padding: 2rem 1rem;
      border-radius: 12px;
      color: white;
      position:relative;

      img{
        position:absolute;
        top:-10%;
        right:5%;
        height:100%;
      }
    }
  }

  .SubjectsContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: flex-start;

    .subjects {
      height: fit-content;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;
      flex-wrap: wrap;

      .subject {
        position: relative;
        height: 150px;
        min-width: 200px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap:3rem;
        padding: 1rem;
        border-radius: 12px;
        box-shadow: 0px 6.116399765014648px 6.116399765014648px 0px #0000001a;
        overflow: hidden;
        

        .IconContainer{
            width:100%;
            display:flex;
            align-items: center;
            justify-content: space-between;

        }
        h3 {
          margin: 0;
        }
        .blob {
          position: absolute;
          background-color: black;
          height: 100%;
          width: 100%;
          border-radius: 70% 30% 51% 70% / 60% 40% 60% 40%;
          top: -50%;
          right: -50%;
          z-index:-10;
        }
      }
    }
  }

  .TopTutorContainer {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    flex-direction: column;

    .tutors::-webkit-scrollbar{
        height:5px;
        border-radius: 5px;
    }

    .tutors::-webkit-scrollbar-thumb{
        background-color: #2584e9b9;
    }


    .tutors {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;
      overflow-x: auto;
      overflow-y: hidden;
      padding-bottom:1rem;

       

      .tutor {
        height: 150px;
        min-width: 300px;
        border-radius: 12px;
        display: flex;
        align-items: flex-start;
        padding: 1rem;
        gap: 1rem;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border: 1px solid #d04e62;

        h3 {
          margin: 0;
        }

        img {
          height: 35px;
          width: 35px;
          border-radius: 50%;
        }

        .DetailsContainer {
          height: 100%;
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
        }
      }
    }
  }

  .YourProgressContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    .ProgressContainer {
      padding: 1rem;
      border-radius: 12px;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: space-between;
      border: 1px solid #d04e62;

      .progressReport {
        display: flex;
        gap: 0.5rem;
        min-width: 300px;
        flex-basis: 32%;
        align-items: center;
        justify-content: space-evenly;
      }
      .batchType {
        height: 50px;
        background: #2584e91f;
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1/1;
        font-weight: bold;
        color: #f83d00;
        border-radius: 10px;
      }

      .descContainer {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
      }
      .progressbar {
        width: 150px;
        height: 10px;
        border-radius: 10px;
        background: #adc7f8;

        .progress {
          background-color: #2584e9;
          height: 100%;
          border-radius: 10px;
        }
      }
    }
  }
}
