      .salaries {
        margin-right:38px ;
        h2 {
          font-family: "Arial";
          font-style: normal;
          font-weight: 700;
          font-size: 35px;
          line-height: 40px;
          margin: 12px 0 0 0;
        }
        span {
          display: block;
          margin: 0 0 0 32px;
          color: #00000066;
        }
      }