.displaypanel {
    height: 100vh;
    width: 35rem;
    background: rgba(103, 100, 255, 0.56);
    padding: 2.8875rem 2.8875rem;
    .displaypanel-top {
        display: flex;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 0.48125rem;
        }

    }
    .displaypanel-bottom {
        position: absolute;
        bottom: 2.8875rem;
        left: 2.8875rem;
    }

}