.searchFieldContainer{
    padding: 15px;
    background-color: white;
    border-radius: 100px;
    align-self: center;
    .searchField{
        display: flex;
        justify-content: space-evenly;
       gap: 10px;
       .singleField{
        display: flex;
        align-items: center;
        gap: 10px;
        img{
            max-width: 50px;
            object-fit: contain;
        }
        input{
          border: none;
        }
       }
      .exploreUsBtn{
        border-radius: 22px;
        background-color: #4D3699;
        height: 68px;
        width:195px;
        text-align: center;
        color: white;
        border: none;
        font-family: "poppins";
        cursor: pointer;
      } 
        
      .searchFieldDivision{
        height: auto;
        width: 1px;
        background-color: #444;
      }
    }
    .mode{
      border: none;
      font-family: "poppins";
    }
    .hidden {
      display: none;
    }
    .select{
      border: none;
      font-family: "poppins";
      width: 180px;
    }
}