.SidebarContainer {
  width: auto;
  height: auto;
  top:0;
  bottom:0;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
  rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  position: fixed;
  // overflow-y: scroll;
  // border: 1px solid;
  overflow-x: hidden;
  .profileSubelements{
    left: 15%;
  }
  .logo {
    font-size: 30px;
    margin-bottom: 2px;
    margin-top: 10px;

    img {
      height: 30px;
    }
  }

  .menu,
  .social,
  .general {
    padding-left: 2em;
    padding-right: 4.5em;
    display: flex;
    flex-direction: column;
    gap: 5px;
    // margin-bottom: 0em;
    margin-top: -8px;
    margin-bottom: 6px;


    & > p {
      color: gray;
    }

    .menuItem {
      display: flex;
      align-items: center;
      gap: 1em;
      position: relative;
      cursor: pointer;
      height: 23px;
      img {
        width: 20px;
        height: 20px;
      }

      &:hover {
        color: blueviolet;
      }
    }

    .menuItem.selected {
      color: blueviolet;
      font-weight: bold;

      &::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 90%;
        background-color: blueviolet;
        left: -1.75em;
        border-radius: 0 10px 10px 0;
      }
    }
  }

 .sectionHeading{
  font-size: 20px;
  margin-bottom: 5px;
 }


  .referral {
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0px;
    margin-left: 10;
    align-items: center;
    left: 0;

    img {
      width: 50px;
      height: 60px;
      object-fit: cover;
      border-radius: 10px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      scale: 1.1;
    }

    p {
      color: gray;
    }

    button {
      width: 100%;
      background-color: blueviolet;
      color: white;
      cursor: pointer;
      border: none;
      border-radius: 10px;
      font-size: 18px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      padding: 0.5em 0;

      &:hover {
        scale: 1.02;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .SidebarContainer {
    min-height: 100vh;

    .logo {
      margin-bottom: 8px;
      margin-left: 1em;
    }

    .menu,
    .social,
    .general {
      margin-bottom: 0;
      padding-bottom: 0;
      padding-top: 0;
    }
    
    .referral{
      position: relative;
      margin-top: 25px;
      width: 100%;

      img{
        width: 100px;
      }
    }
  }
}
