.ProgressStepsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;


  .circles {
    display: flex;
    align-items: center;

    .step {
      width: 30px;
      height: 30px;
      border: 1px solid black;
      border-radius: 50%;
      display: grid;
      place-items: center;

      img {
        width: 1.2rem;
      }
    }

    .step.done {
      background-color: lightgreen;
    }

    .step.current {
      scale: 1.5;
      margin: 10px;
    }

    .line {
      height: 2px;
      background-color: blueviolet;
      flex: 1;
    }
  }

  .texts {
    display: flex;
    justify-content: space-between;
  }
}
