.TutorDatabaseMainContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 80px 1fr 1fr;

  // button
  .btnsort {
    background: #5e5df0;
    border-radius: 999px;
    box-shadow: #5e5df0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
  }

  // database tab and  table head
  .TutorDatabaseHead {
    margin: 3em 0 0 0;
    padding: 0 1em 0 0;
    grid-column: 2 / 6;
    grid-row: 2;
    position: relative;
    // left: 7rem;

    .TutorEnquiryFormAnalysis {
      grid-column: 1 / span 8;

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: 0 0 1em 0;
      .EnquiryFormAnalysisCardContainer {
        margin: 0.5em 0.5em;
        background: rgba(196, 140, 231, 0.37);
        box-shadow: 1px 1px 3px 2px rgba(86, 8, 113, 0.31);
        padding: 1em;
        display: flex;
        flex-direction: column;

        .data {
          display: grid;
          grid-template-columns: 60px 1fr;
          grid-template-rows: 30px 30px;
          column-gap: 0.6em;
          width: 100%;
          margin-top: 1em;

          img {
            width: 50px;
            background-color: white;
            border-radius: 10px;
            padding: 0.2em 0;
            grid-row: span 2;
            place-self: center;
          }

          h3 {
            place-self: center start;
          }

          h1 {
            place-self: center start;
            height: 42px;
          }
        }

        h3 {
          padding: 0.5em 0 0.3em 0;
        }
        h1 {
          line-height: 1.5em;
        }
        .EnquiryFormAnalysicButton {
          margin: 1em 0 0.5em 0;
          font-size: 18px;
        }
      }
    }

    .DatabasetabHeadc {
      margin-top: 50px;
      h2 {
        display: flex;
        align-items: center;
        gap: 1em;
        margin-bottom: 20px;

        img {
          height: 36px;
        }
      }
    }

    // tabs
    .TutorDatabaseTab {
      display: flex;
      margin-bottom: 10px;
      margin-top: 30px;

      .Tutortabtaboptions {
        width: 100%;
        display: flex;
        gap: 1em;
        cursor: pointer;
        flex: 1;
        height: 60px;

        .TutorEnquiryData {
          border-radius: 10px;
          align-self: center;
          padding: 0.8em 1em;

          h3 {
            align-self: center;
          }
        }

        .TutorEnquiryData.selected {
          background: #8434a5;
          box-shadow: 0px 4px 4px rgba(128, 60, 175, 0.25);
          color: white;
        }
      }
      // buttons
      .TutorDatabaseButtons {
        .showAll {
          button {
            margin: 0 0.5em;
            background: #fefdff;
            box-shadow: 0px 4px 4px rgba(128, 60, 175, 0.25);
            border-radius: 5px;
            color: gray;
            width: 120px;
            gap: 10px;

            img {
              width: 16px;
              margin-right: 10px;
            }
          }
        }
      }
    }
    // table
    .DatabaseTable {
      .DatabaseContentTable {
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 0.9em;
        // min-width: 400px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        width: 100%;
        thead {
          tr {
            background-color: #009879;
            color: #ffffff;
            text-align: left;
            font-weight: bold;
          }
        }
        th,
        td {
          padding: 12px 15px;
        }
        tbody {
          .StudentnameContainer {
            display: flex;
            .StudentImage {
              align-self: center;
              img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
              }
            }
            .studentName {
              align-self: center;
              padding: 0 0 0 0.5em;
            }
          }
          tr {
            border-bottom: 1px solid #dddddd;
          }
          tr:nth-of-type(even) {
            background-color: #f3f3f3;
          }
          tr:last-of-type {
            border-bottom: 2px solid #009879;
          }
          tr.active-row {
            font-weight: bold;
            color: #009879;
          }
        }
      }

      .nearMeMap {
        width: 100%;
        height: 400px;
        border: 2px solid purple;
        background-color: rgb(248, 219, 249);
        margin-top: 20px;
        border-radius: 10px;
        display: grid;
        place-items: center;
      }
    }

    .NewDatabaseTableContainer {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      gap: 1.5em;
      align-items: center;
      position: relative;

      .NewDatabaseTable {
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 100%;
        margin-top: 24px;

        .row {
          display: flex;
          width: 100%;
          padding: 1em 0;
          justify-content: space-around;
          align-items: center;
          border: 1px solid #974ab3;
          box-shadow: 0px 4px 4px rgba(151, 74, 179, 0.2);
          border-radius: 10px;
          cursor: pointer;

          h2 {
            margin-bottom: 10px;
          }
        }

        .row.selected {
          background-color: rgb(255, 224, 255);
        }
      }

      .pageIndicator {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
        list-style-type: none;
        box-sizing: border-box;
        position: absolute;
        bottom: -180px;

        a {
          cursor: pointer;

          &:hover {
            color: purple;
          }
        }

        .prevBtn,
        .nextBtn {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: rgb(248, 219, 249);
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          background-repeat: no-repeat;
          background-size: auto;
          background-position: center;
        }

        .prevBtn {
          background-image: url('./Images/leftArrow.svg');
        }

        .nextBtn {
          background-image: url('./Images/rightArrow.svg');
        }

        .selected {
          border: 1px solid purple;
          border-radius: 5px;
          background-color: rgb(248, 219, 249);
          padding: 4px 8px;
          display: grid;
          place-items: center;
        }

        .paginationDisabled a {
          cursor: not-allowed;
        }
      }
    }
  }

  // student profie view
  .TutorDashboardStudentProfileView {
    grid-column: 6/8;
    margin: 7em 0 0 0;
    background-color: #f8faff;

    .StudentProfileCardContainer {
      margin: 1em 0.5em 1em 1em;
      padding: 1em 2em;
      box-shadow: 0px 4px 4px #0000ff;
      border-radius: 12px;

      .basicInfo {
        text-align: center;

        .basicInfoContent {
          margin: 1em 0;
        }

        .StudentProfilePic {
          img {
            border: 1px solid purple;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        .StudentName,
        .Studentclass {
          margin: 10px;
        }

        .StudentContactButtons {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1em;

          .contactbtn {
            border: none;
            outline: none;
            border-radius: 50%;
            margin: 0.2em;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            background-color: #fff;
            width: 36px;
            height: 36px;
            cursor: pointer;

            i {
              padding: 0.5em;
              font-size: 1.5em;
            }
          }
        }
      }

      // AboutStudentt
      .AboutStudentt {
        margin: 2em 0;
        h4 {
          line-height: 2em;
        }

        small {
          opacity: 0.7;
        }
      }

      // MoreDetailAboutStudent
      .MoreDetailAboutStudent {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .moreInfo {
          margin: 0.5em 0;
          h4 {
            line-height: 2em;
          }
        }
      }

      .viewFullProfile {
        width: 100%;
        margin: 16px auto;
        background: #974ab3;
        border-radius: 5px;
        border: none;
        outline: none;
        font-size: 16px;
        color: white;
        padding: 0.5em 1em;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 900px) {
  .TutorDatabaseMainContainer {
    .TutorDatabaseHead {
      grid-column: 1/8;
    }
    .TutorDashboardStudentProfileView {
      grid-column: 1/8;
      grid-row: 3;
    }
  }
}
