.hello{
    display: block;
}

.msg
{
    position: relative;
    top:-10px;
    width:40px;
height:30px
}
svg path
{
    height: 102.66667175292969px;
width: 60.666664123535156px;
left: 23.3330078125px;
top: 4.66650390625px;
border-radius: 0px;
color:blue;
}