
.congratulations_container {
    box-sizing: border-box;
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 22px;
    gap: 0.5rem;
    font-size:1.5rem;
    padding:2rem;
    font-family: "poppins";

    p{
    text-align: center;
    }
    .IconContainer{
      height:fit-content;
      width:auto;
      aspect-ratio: 1/1;
      padding:1rem;
      border-radius:50%;
      background: #A1ADFF;
      display: flex;
      align-items: center;
      justify-content: center;

        .icon{
            margin:0;
            font-size:2rem;
        }

    }

    h1 {
      text-align: center;
      font-size: 4rem;
      color: #485df9;
      margin:0;
    }

    .SolidButton {
      padding: 0.5rem;
      border-radius: 10px;
      background-color: #6764ff;
      border:0;
      padding:1rem 2rem;
      font-size:1rem;
      color:white;
      cursor:pointer;
      font-family: inherit;
    }
  }
