.contentContainer {
  // display: flex;
  display: block;
  // justify-content: center;
  // align-items: center;

  // height: 100vh;
  // align-content: center;
  width: 100vw;


  position: fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background-color: rgba(0,0,0,.7);
  z-index: 10000;
  .box {
    // top: 50%;
    // right: 50%;
    transform: translate(-50%, -50%);
    // position:absolute;
    position: fixed;
    top:50%;
    left: 50%;
    

    width: 50%;
    height: 75%;
    text-align: center;
    border: 2px solid #803caf;
    background-color: white;
    border-radius: 10px;
    justify-content: center;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    z-index: 100;
    // padding: 20px;

    .summaryHeader {
      display: flex;
      // justify-content: center;
      //   background-color: #803caf;
      height: 28%;
      width: 100%;
      align-items: center;
      justify-content: space-around;
      margin: 0;
      border-bottom-left-radius: 70%;
      border-bottom-right-radius: 70%;
      border-top-right-radius: 10px;
      border-top-right-radius: 10px;
      background-image: linear-gradient(to right, #9a4fb6 14%, #6b00cc 100%);
      margin-bottom: 2em;
      .logo {
        // display: inline;
        width: 4em;
        height: 4em;
        border: 1px solid white;
        border-radius: 50%;
        margin-top: 1em;
        margin-bottom:100px;
        margin-left: 10px;
      }
      .headingDiv{
        margin: auto;

      }
      .heading {
        // display: inline;
        font-size: 2em;
        // margin: 2em 3em 1em 0em;
        text-align: center;
        justify-content: center;
        align-self: center;
        // width: 75%;
        color: white;
        padding: 0;
      }
    }
    .summaryBody {
      width: 70%;
      padding: 1em;
      height: 25%;
      border-radius: 0;
      background-color: #f3ebf7;
      margin: auto;
      .attemptedQuestions {
        // border: 1px solid #803caf;

        padding: 8px;
        background-color: white;
        color: #803caf;
        border-radius: 2px;
        font-weight: bold;
        margin: 1em auto;
        font-size: 1em;
        width: 53%;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 0.8px;
        box-shadow: 0px 0px 2px 0.1px #803caf;
      }
    }

    .buttonsContainer {
      display: flex;
      justify-content: center;
      margin-top: -1.5em;
      text-align: center;

      .submitButton {
        background-color: #803caf;
        width: 17em;
        padding: 0.8em;
        color: white;
        border: 1px solid #803caf;
        border-radius: 25px;
        //   font-weight: bold;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        p {
          font-size: 1.7em;
        }
        i {
          color: white;
        }
      }

      .submitButton:hover {
        cursor: pointer;
        background-color: white;
        color: #803caf;
        i {
          color: #803caf;
        }
      }

      .prevButton {
        background-color: #b984fc;
        width: 17em;
        padding: 0.8em;
        color: white;
        border: 1px solid #803caf;
        border-radius: 25px;
        //   font-weight: bold;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        margin-right: 1.5em;
        p {
          font-size: 1.7em;
        }
        i {
          color: white;
        }
      }

      .prevButton:hover {
        cursor: pointer;
        background-color: white;
        color: #803caf;
        i {
          color: #803caf;
        }
      }
    }

    .paragraph {
      // grid-row: 3;
      // width: 70%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      // grid-template-columns: 25% 50% 25%;
      margin: auto;
      font-family: arial;
      h2 {
        // grid-column: 2;
        margin: auto;
        font-weight: 300;
        // text-align: left;
      }
      .images {
        // margin: 1em 3em;
        // grid-column: 3;
        width: 7em;
        height: 7em;
        border: 1px solid red;
        border-radius: 50%;
      }
    }
  }
  @media screen and(max-width:700px) {
    .box {
      width: 90%;
      height: auto;
      margin: auto;
      .summaryHeader{
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
        border-top-right-radius: 0px;
        border-top-right-radius: 0px;
        .heading{
          width: 100%;
          font-size: 1.5em;
          margin: auto;
        }
        .logo{
          margin: 1em;
        }
      }
      .summaryBody {
      }
      .buttonsContainer {
        margin-top: 20px;
        margin-top: 2em;
      }
      .paragraph{
        flex-direction: column;
        margin-top: 30px;
        .images{
          width: 5em;
          height: 5em;
        }
      }
    }
  }
}
