.referral-box {
    display: flex;

    border: 1px solid;

    padding: 0.538rem 1.1rem;
    width: 100%;
    color: #999;
    font-size: 0.78rem;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    letter-spacing: 0;
    border-radius: 4px;
    border: 1px solid #6764ff;
    background: #fff;

    .referral-ip {
        display: flex;
        align-items: center;
        width: 100%;
        input {
            border: none;
            background: none;
        }
        input:focus {
            outline: none;
            background: none;
        }
    }
    .referral-verify {
        float: right;
        color: #fff;
        text-align: center;
        font-size: 0.77rem;
        font-weight: 500;

        padding: 0.2rem 10px 0.2rem 10px;

        border-radius: 6px;
        opacity: 0.5;
        background: #6764ff;

        cursor: pointer;
    }
}
.referral-valid {
    color: #fff;
    text-align: center;
    font-size: .8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
}
