.roundBox {
  font-family: "Montserrat", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 145px;
  height: 145px;
  color: #ffffff;
  margin: 10px;
}

.first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(108, 23, 208, 1);
  background-image: linear-gradient(rgb(64, 15, 121), rgba(124, 38, 221, 1));
  border-radius: 50%;
  transform: rotateY(0deg);
  /* transition: all 0.5s ease-in-out 0s; */
}

.roundboxicon {
  font-size: 20px;
  margin-bottom: 10px;
}
.start {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  background-color: rgba(108, 23, 208, 1);

  border-radius: 50%;
  transform: rotateY(90deg);
  transition: all 0.5s ease-in 0s;

  /* margin-top: 70px; */
  /* display: none; */
}
.roundBox .title {
  font-size: 15px;
  font-weight: 400;
}

@media screen and (max-width: 900px) {
  .roundBox {
    /* max-width: 600px; */
    /* width: 100%; */
    height: 200px;
    /* background-color: red; */
    /* margin: 20px; */
  }
  .first {
    border-radius: 100px;
    margin-top: 30px;
  }
  .start {
    border-radius: 100px;
    margin-top: 30px;
  }
}

/* for mobile devices */
@media screen and (max-width: 500px) {
  .roundBox {
    width: 135px;
    height: 170px;
  }
}
.roundBox:hover .first {
  transform: rotateY(-90deg);
}
.roundBox:hover .start {
  transform: rotateY(0deg);
}
.start:hover {
  color: yellow;
}
