.NotFoundPageMainContainer{
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    .NotFoundPageImage{
        img{
            width: 500px;
        }
    }
    .ErrorPageContent{
        p{
            padding: 20px;

        }
    }
}