.support_container {
  margin-top: 30px;
 max-width: 1120px;
}

.support_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1120px;
  margin: 0 auto;
}
.support_container__mainHeadContainer
{
    display: flex;
    align-items: center;
    gap:10px;
    justify-content: center;
    max-width: 1120px;
    margin: auto;
}
.support_container__mainHeadContainer hr{
    flex:1;
}
.support_ImgWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.support_container .support_wrapper:first-child
{
    border-right: 0.5px solid rgba(128, 128, 128, 0.345);
}
.support_container .support_wrapper {
    max-width: 920px;
    padding: 10px 70px;
  position: relative;
  /* width: 320px; */
 
  padding: auto;
}
.support_container .support_wrapper hr
{
    border-color: #828282;
    margin-top: 20px;
}
.support_container h1 {
  font-family: "comfortaa";
  font-size: 2rem;
  text-align: center;
  color: #5271ff;
  margin: 0;
}
.support_container h2 {
  font-family: "poppins";
  font-size: 1.7rem;
  font-weight: 600;
  color: #5271ff;
  text-align: center;
}
.support_container h3 {
  font-family: "poppins";
  color: #c0c5fd;
  text-align: center;
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 30px;
}

.support_wrapper img {
  height: 270px;
  margin: auto;
  padding: auto;
  /* width: 37vh; */
}
@media screen and (max-width: 760px)
{
    .support_container h1 {
        font-size: 1.4rem;
    }
    .support_section {
        flex-direction: column;
      }
      .support_section .support_wrapper
      {
          max-width:500px;
          text-align: center;
        }
        .support_section .support_wrapper:first-child
        {
          border-right: none;
        
      }
}
@media screen and (max-width: 500px) {
  .support_section {
    flex-direction: column;
    width: 90%;
  }
  .support_container {
    height: 175vh;
    /* margin-bottom: 250px; */
  }
}
