@import '../../Pricing/Global.scss';
.FormHeaderContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;


  .FormHeaderWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 8.2rem;
    @include mobile{
        height: 15.8rem;

    }
    
    .first1,.last{
        width: 10%;
        height: 100%;
       
        
        
    }
    .first{
        @include mobile{
            display: none;
        }
    }
    .last{
        @include mobile{
            width: 15%;
        }
    }
    .second{
        border-bottom: 1px solid #CCCCCC;
        width: 80%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;


        .span{
            span{
                font-weight: 700;
                font-size: .875rem;
                
                color: rgba(94, 66, 187, 0.52);
            }
        }
        .h1{
            
            
            h1{
                font-weight: 650;
                font-size: 2.5rem;
                margin-bottom: -0.3rem;
                margin-top: -0.1rem;
                color:#4D4D4D;
                
            }
        }
        .p{
            p{
                font-weight: 500;
                font-size: 1.25rem;
                color: #4d4d4d;
                
            }
        }

    }

    .last{
        position: relative;
        
        .lastWarapper{
        
            position: absolute;
            right: 0;
            width: 3rem;
            height: 2.7rem;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            
            
            flex-direction: column;
            
        }

        span{
            width: 100%;
            height: .6rem;
            background-color: #5E42BB;
            transform-origin: left;
            border-radius: 5px;
            cursor: pointer;
            
            &.firstSpan{
                transform: rotate(45deg);
            }
            &.secondSpan{
                transform: rotate(-45deg);
            }
            
        }
      
    }
  }
}
